<div class="calculator-symbols-buttons col-10">
    <button @onclick="@(() => OnClick.InvokeAsync("1"))" disabled="@Disabled" class="calc-num-button">1</button>
    <button @onclick="@(() => OnClick.InvokeAsync("2"))" disabled="@Disabled" class="calc-num-button">2</button>
    <button @onclick="@(() => OnClick.InvokeAsync("3"))" disabled="@Disabled" class="calc-num-button">3</button>
    <button @onclick="@(() => OnClick.InvokeAsync("4"))" disabled="@Disabled" class="calc-num-button">4</button>
    <button @onclick="@(() => OnClick.InvokeAsync("5"))" disabled="@Disabled" class="calc-num-button">5</button>
    <button @onclick="@(() => OnClick.InvokeAsync("6"))" disabled="@Disabled" class="calc-num-button">6</button>
    <button @onclick="@(() => OnClick.InvokeAsync("7"))" disabled="@Disabled" class="calc-num-button">7</button>
    <button @onclick="@(() => OnClick.InvokeAsync("8"))" disabled="@Disabled" class="calc-num-button">8</button>
    <button @onclick="@(() => OnClick.InvokeAsync("9"))" disabled="@Disabled" class="calc-num-button">9</button>
    <button @onclick="@(() => OnClick.InvokeAsync("0"))" disabled="@Disabled" class="calc-num-button">0</button>
    <button @onclick="@(() => OnClick.InvokeAsync("."))" disabled="@Disabled" class="calc-num-button">,</button>
    <button @onclick="@(() => OnClick.InvokeAsync("+-"))" disabled="@Disabled" class="calc-num-button">+/-</button>
</div>

@code {

    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

}